input{
  display: none;
}
label{
  display: none;
}
.wrapper{
  width: 100%;
  background:  #151515;
  position: fixed;
  z-index: 100;
}
.wrapper ul{
  float: center;
}
.wrapper ul li{
  display: inline-block;
  list-style: none;
}
.wrapper ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  padding:0px 32px;
}
.wrapper ul li a:hover{
  color: blue;
}

@media only screen and (max-width:1124px) {
input{
  display: block;
}
label{
  display:block;
}
.wrapper{
  position: fixed;
  display: table-column;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, blue, #151515);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
  z-index: 100;
}
#active{
  z-index: 110;
}
.menu-btn{
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 120;
  background: linear-gradient(-135deg, blue, #151515);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: blue;
  color: #151515;
  z-index: 110;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
  z-index: 110;
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}

}
/*loader*/
.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lettre{
  color: black;
  font-size: 80px;
  letter-spacing: 15;
  margin-bottom: 150;
  animation: flash 1.2s linear infinite;
}

@keyframes flash{
   0% {
        color: linear-gradient(-135deg, blue, #151515);
        text-shadokeyframesw: 0 0 7px linear-gradient(-135deg, blue, #151515);
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: linear-gradient(-135deg, blue, #151515);
        text-shadow: 0 0 7px linear-gradient(-135deg, blue, #151515);
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}



/*autre*/
html, body {
  margin:0;
  background-color: #151515;
  font-size:16px;
  text-align: center;
  height: 100vh;
}
.main {
  padding: 1rem 4rem;
  margin-left: 1rem;
  text-align: justify;
  background-color: #151515;
  text-align: center;
}
.boutton{
  background: linear-gradient(70deg, blue, #151515);
  z-index: 5;
  border: none;
  color: white;
  padding: 15px;
  text-align: left;
  position: fixed;
  bottom: 80px;
  right: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  margin: 4px 2px;
  border-radius: 2rem;
}
.separation{
  background: linear-gradient(-135deg, blue, #151515);
  padding: 3px;
}
.separation img{
  background: linear-gradient(-135deg, blue, #151515);
  padding: 3px;
}
*, ::before, ::after{
  box-sizing: border-box;
}
/*acceuil*/
.acceuil{
  background: url(imageacceuil.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.acceuil h1{
  background:-webkit-linear-gradient(70deg, blue, #151515);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  z-index: -1;
  font-size: 50px;
  text-align: left;
}
.acceuil p{
  color: white;
  font-size: 30px;
  text-align: left;
}
header {
  height: 100vh;
  width: 100vw;
  background: #151515;
  position:relative;
  z-index:-0;
}
#overlay{
  height: 80vh;
  width: 100vw;
  position: absolute;
  top:0;
  left:0;
  text-align: center;
  margin-top: 200px;
  z-index:0;
  color: white;
}

#overlay h1 {
  font-size: 60px;
  font-weight: 900;
}

#overlay p {
  font-size: 20px;
  padding-bottom: 30px;
}
#overlay #btn {
  background: linear-gradient(70deg, blue, #151515);
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
}

/*wiki section*/

/*boutique*/

.boutique {
  background: blue;
  margin-left: 30px;
  padding: 0px;
  font-size: 30px;
}
.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}
.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: black;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}
.pricing-card-header{
  background-color: blue;
  display: inline-block;
  color: black;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}
.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em blue;
}
.price{
  font-size: 70px;
  color: white;
  margin: 40px 0;
  transition: .2s linear;
}
.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
  color: #f1f1f1;
}
.pricing-card:hover {
  color: black;
}
.pricing-card:hover .price{
  color: white;
}
.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
  color: #f1f1f1;
}
.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #fff;
  color: #fff;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}
.order-btn:hover{
  background-color: blue;
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}

/*footer*/

.contact-info{
  display: inline-flex;
  margin-left: 0px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  padding: 0 20px;
}
.card{
  background: Black;
  padding: 0 20px;
  margin: 0 20px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  justify-content: center;
  cursor: pointer;
}
.card-icon{
  font-size: 28px;
  background: blue;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}
.card:hover .card-icon{
  background: none;
  color: blue;
  transform: scale(1.6);
}
.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.card:hover p{
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width:800px) {

  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
footer{
  text-align: left;
  background: linear-gradient(-135deg, blue, #151515);
  font-size: 30px;
  margin-left: 10px;
  padding: 10px;

}