
/*navbar*/
:root {
  --navbar-background-color: black;
  --navbar-item-hovered-color:#151515;
  --navbar-separator-color:black;
  --navbar-icon-color: #ff6a19;
  --navbar-text-color:#ff6a19;
  --navbar-transition-speed: .2s;
  --primary-color:#ff6a19;
  --navbar-logo-background-color: black;
}

html, body {
  margin:0;
  font-family: 'Source Sans Pro';
  font-size:16px;
}

.navbar-tittle:hover{
  color: black;
}

.navbar {
  width:5rem;
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  background:var(--navbar-background-color);
  box-shadow: rgba(12,43, 30, 0.2) 0 4px 14px;
  transition: width var(--navbar-transition-speed) ease;
}

.navbar:hover {
  width:15rem;
}

.navbar-menu {
  list-style: none;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  height:100%;
}

.navbar-item {
  width: 100%;
  border-bottom:solid 1px var(--navbar-separator-color);
  transition: background-color var(--navbar-transition-speed);
}

.navbar-item:hover {
  background-color:var(--navbar-item-hovered-color);
}

.navbar-item:last-child {
  margin-top:auto;
}

.navbar-link {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  height:5rem;
  width:100%;
  text-decoration: none;

}


.navbar-link {
}
.navbar-icon {
  text-align: center;
  font-size: 1.5rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color:var(--navbar-icon-color);
  transition:var(--navbar-transition-speed);
}

.navbar-item:hover .navbar-icon {
  color:var(--primary-color);
}

.navbar-tittle {
  color:#ff6a19;
}



.navbar:not(:hover) .navbar-tittle {
  display:none;
}

.logo {
  background:var(--navbar-logo-background-color);
}

.logo .navbar-tittle {
  font-size:1.5rem;
  font-weight:bold;
  margin-left:1.5rem;
}

.logo .navbar-tittle:hover{
  color:#ff6a19;
}
.navbar:hover .logo .navbar-icon {
  transform:rotate(180deg);
}

/*
** RESPONSIVE
*/

@media only screen and (max-width:1024px) {
  .navbar {
    top:auto;
    width:100%;
    bottom:0px;
  }

  .navbar:hover {
    width:100%;
  }

  .navbar-menu {
    flex-direction: row;
  }

  .logo {
    display:none;
  }

  .navbar:hover .navbar-tittle {
    display:none;
  }

  .navbar-icon {
    min-width:auto;
    margin:0;
  }

  .navbar-link {
    justify-content: center;
  }
}

/* body*/

/*loader*/
.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lettre{
  color: black;
  font-size: 80px;
  letter-spacing: 15;
  margin-bottom: 150;
  animation: flash 1.2s linear infinite;
}

@keyframes flash{
   0% {
        color: #fff900;
        text-shadokeyframesw: 0 0 7px #fff900;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}




html, body {
  margin:0;
  font-size:16px;
}

.main {
  padding: 1rem 4rem;
  margin-left: 1rem;
  text-align: justify;
}






body{
  background-color: #151515;
  text-align: center;
}
.main{
  background-color: #151515;
  text-align: center;
}

.footer-icon{
   text-align: center;
  font-size: 1.5rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: #ff6a19;
  border-radius: 2rem;
}
.footer{
}
.pfooter{
  background-color:#ff6a19 ;
  text-align: left;
    color: white;
    text-align: left;
}
.contact{
    color: white;
}
.wiki{
    color: white;
}
.support{
  color: white;
}
.acceuil{
  color: white;
  font-size: 50px;

}
.discord{
   list-style: none;
   color: #FF0000;
}
.boutton{
  background-color: #ff6a19;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
}
.boutton:hover{
  background-color: #ff955c;
}

.contenant {
  text-align: center;
  color: white;
}

.texte_centrer {
  position: absolut
  position: relative;
  top: 40px; left: 40px;e;

}
.apropos{
  text-align: center;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}
body {
    background: #f1f1f1;
    height: 100vh;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 660px;
    height: 300px;
    background: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container-onglets{
    background: #f1f1f1;
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid #333;
}
.onglets {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.onglets:not(:nth-child(3)) {
    border-right: 1px solid #333;
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.contenu h3 {
    padding: 20px;
}
.contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    background: #000;
    border: none;
}
.contenu p {
    padding: 20px;
}

/* Anim */

.active {
    background: midnightblue;
    color: #f1f1f1;
    transition: all 0.3s ease;
}

.activeContenu {
    animation: fade 0.5s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}